html,
body,
.header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  .header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #303030 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar:not(.top-nav-collapse) .navbar-brand {
  background: #30303088 !important;
  padding: 10px;
  border: 2px hidden #000000;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #303030 !important;
  }
}

h1 {
  letter-spacing: 5px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 5px solid #fff;
  width: 80px;
}

.mt-6 {
  margin-top: 5rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .top-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .middle-input {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .bottom-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
